---
  title: Homepage
  active_nav: about
---

.hero-container
  = partial 'main-header'
.homepage-about-us
  .grid-container
    .col-lg-4.col-md-8
      %h2.homepage-about-us-header
        %strong
          Working With Us.  
        %span.ligthen-grey-font
          We’re a small team. We only take on one or two projects at the same time, ensuring that your app will get the personal attention and focus it needs.
    .col-lg-4.col-md-5.svg-box
      .clip-board-svg.svg
    .col-lg-4.col-md-8
      %h2.homepage-about-us-header
        %strong
          Every project is a snowflake. 
        %span.ligthen-grey-font
          We tailor our workflow to the needs of the project. We can follow a more traditional scrum or agile workflow, or we can pick and choose just the right amount of process ot the get the job done.
    .col-lg-4.col-md-5.svg-box
      .snowflake-svg.svg
%hr
.animate-move-up-container
  .grid-container
    .col-lg-8
      %h2.fancy-header
        %strong
          Custom Dashboards
        %span
          Sometimes you need to display information in a dashboard format to keep a team on the same page or to give customers a quick/easy way to view the value you're providing to them. We can consume data from a variety of data sources and present them in a visually compelling way that quickly presents important information.
    .col-lg-8
      .screenshot-container
        = image_tag 'screenshot_acadia_homepage.jpg', class: 'screenshot-front-image'
        = image_tag 'screenshot_acadia_people_admin.jpg', class: 'screenshot-back-image' 
%hr
.cta-container
  .grid-container
    .col-lg-4.col-md-8
      %h2
        %strong
          View our entire portfolio
      %h2
        %span.ligthen-grey-font
          We tailor our workflow to the needs of the project. We can follow a more traditional scrum or agile.
      = link_to 'View Our Work', '', class: 'default-hyper-link'
    .col-lg-4.col-md-8
      %h2
        %strong
          Learn more about our process
      %h2
        %span.ligthen-grey-font
          We tailor our workflow to the needs of the project. We can follow a more traditional scrum.
      = link_to 'Learn About Our Process', '', class: 'default-hyper-link'